@import "./_mixins/_rem-size.scss";
@import "./_mixins/_breacpoints.scss";


// Colors
$color-base:                                                            #3AABCB !default;
$color-white:                                                           #fff !default;
$color-heading:                                                        	#34363a !default;
$color-subtitle:                                                        #060607 !default;
$color-link:                                                        		#81848f !default;
$color-link-hover:                                                      #999caa !default;
$color-sky-light:                                                      	#fafafa !default;
$main-font: "Roboto";

$blue: #3AABCB;
$main-color: #fff;
$text-color: #333;
