@import "./_mixins/_rem-size.scss";
@import "./_mixins/_breacpoints.scss";


// Colors

$main-font: "Roboto";
$main-color: #2d55c7;
$main-color-hov: #2142a0;

$main-text-color: #333;
$second-text-color: #fff;

$accent: #3498db;
$accent_hover: #2980b9;
$blue: #3AABCB;
$text-color: #333;
