@import "../_Vars";

header {
    height: 105vh;
    background: $main-color;
    min-width: 270px;
    position: relative;
    max-width: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;    
    box-shadow: 5px -15px 15px 1px rgba($color: #000000, $alpha: 0) ;
    transform: translateX(-100%);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.active{
        transform: translateX(0%);
        box-shadow: 5px -15px 15px 1px rgba($color: #000000, $alpha: .4) ;
    }
    .logo{
        background: #fff;
        padding: 15px;
        width: 100px;
        border-bottom: 2px solid #ccc;
        img{
            width: 100%;
        }
    }
    nav {
        padding: 10px 5px;
        width: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                a{
                    display: block;
                    padding: 10px 15px;
                    color: #fff;
                    text-decoration: none;
                    -webkit-transition: 0.2s linear;
                    -moz-transition: 0.2s linear;
                    -ms-transition: 0.2s linear;
                    -o-transition: 0.2s linear;
                    transition: 0.2s linear;
                &:hover {
                    background: $main-color-hov;
                }
                .fa {
                    width: 16px;
                    text-align: center;
                    margin-right: 5px;
                }
                .badge {
                    display: inline-block;
                    background: #fff; /* IE Fallback */
                    background: rgba(255, 255, 255, 0.2);
                    padding: 3px 7px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 800;
                }
                }
                /* Sub Menu */
                ul {
                    li {
                        a {
                            background: #444;
                            border-left: 4px solid transparent;
                            padding: 10px 20px;
                            &:hover {
                                background: #333;
                                border-left: 4px solid $main-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
.container_head{
    z-index: 10;
    position: relative;
    width: 100%;
    background: transparent;
    height: 50px;
    display: flex;
    transition: all  .6s cubic-bezier(0.645, 0.045, 0.355, 1);; 
    .toggle_menu{
        width: 50px;
        height: 50px;
        background: $main-color;
        svg{
            transition: border .3s ease-out;
            border: 1px rgba(0, 0, 0, 0) solid;
            width: 100%;
            &.active{
                border-left: 1px #333 solid;
            }
        }
    }
    .profile_info{
        display: flex;
        align-items: center;
        color: $main-text-color;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 40px;
            padding: 10px;
            height: 40px;
            margin: 0 10px;
            background: #ccc;
            i{
                font-size: rem(16);
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .name{
            display: inline-block;
            p{
                font-size: rem(12);
                margin-top: 3px;
                display: flex;
                align-items: center;
                i{
                    margin-top: 1px;
                    margin-right:5px; 
                    font-size: 5px;
                    width: 5px;
                    &.online{
                        color: green;
                    }
                    &.ofline{
                        color: red;
                    }
                }
            }
        }
    }
}

@import "../components/gamburger.scss";
